@media screen and (max-width: 600px) {


    .navbar {
        display: none;
    }
    .logo img {
        width: 60px;
        height: 60px;
    }
    


    .home-container {
        background: url("Imagens/Home-responsive.png");
        background-size: cover;
        background-position: center top;
        height: 600px;

    }
    .home-container section {
         display: flex;
         position: relative;
         bottom: 100px;
    }
    .btn {
        font-size: 1rem;
    }
    
    .hamburger-menu {
        display: block;
        
    }


    .icons svg {
        height: 20px;
        width: 20px;
        display: inline;
        position: relative;
        right: 140px;
    
        
    }
    .content h3 {
        font-size: 1.8em;
        font-weight: 800;
    }
    .content p {
        font-size: 1.4em;
        text-align: justify;
    }
    .about .row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about .row .content h3 {
        font-size: 1.9em;
    }

    .about .row .content p {
        font-size: 1.4em;
        text-align: justify;
        
    }

    .content {
        max-width: 35rem;
    }
    .container-image {
        display: none;
    }
    
    .container-image-responsive {
        display: block;
       width: 90%;
       
    }
    
    .address iframe {
        width: 35rem;
        height: 40rem;
    }

}


@media screen and (min-width: 834px) and (max-width: 1194px) {
    .home-container {
        background: url("./Imagens/home-img.jpg");
        background-size: cover;
        background-position: center right;
        background-attachment: fixed;
}

.container-image img {
    width: 350px;
    
}


.about .content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.about .content p {
    font-size: 1.7rem;
    font-weight: lighter;
    text-align: justify;
}
}